<ion-content class="base-bg">
    <ion-refresher (ionRefresh)="doRefresh($event)"></ion-refresher>
    <ion-grid class="base-bg">
        <ion-row>
            <ion-col col-12>
                <p text-center class="text-color-lighter">Archived Complaints List</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 padding></ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="pull-up">

    </ion-grid>
</ion-content>