<ion-header>
    <top-bar title="{{title}}"></top-bar>
</ion-header>
<ion-content>
    <ion-tabs>
        <ion-tab [root]="tab1Root" (ionSelect)="onTab('Active Complaints')" tabTitle="Active"></ion-tab>
        <ion-tab [root]="tab2Root" (ionSelect)="onTab('Archived Complaints')" tabTitle="Archive"></ion-tab>
    </ion-tabs>
</ion-content>