<ion-header>
    <top-bar title="Wave City"></top-bar>
</ion-header>
<ion-content>
    <ion-grid class="base-bg">
        <ion-row>
            <ion-col col-12>
                <h5 text-center class="text-color-lighter">Hello User</h5>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <p text-center class="text-color-lighter">1 New Notification | 2 Pending Bills</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 padding></ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="pull-up" padding>
        <ion-row>
            <ion-col col-4 *ngFor="let p of pages">
                <ion-card no-margin (click)="openPage(p)" [ngClass]="p.page==null?'disabled':''">
                    <ion-card-content text-center>
                        <ion-icon id="{{p.id}}" name="base-wrapper"></ion-icon>
                        <p>{{p.title}}</p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>