// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
//$colors: ( primary: #35d08e, secondary: #4fd865, danger: #f53d3d, light: #f4f4f4, lighter: #fff, dark: #343434, darker: #111);
$colors: ( primary: #1c409d, secondary: #3050c3, danger: #f53d3d, light: #f4f4f4, lighter: #fff, dark: #343434, darker: #111);
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
// Updated Design Elements
$toolbar-ios-background: color($colors, primary);
$toolbar-ios-title-text-color: color($colors, lighter);
$toolbar-md-background: color($colors, primary);
$toolbar-md-title-text-color: color($colors, lighter);
$toolbar-wp-background: color($colors, primary);
$toolbar-wp-title-text-color: color($colors, lighter);

/* Spinner Color */

$spinner-ios-ios-color: color($colors, lighter);
$spinner-ios-bubbles-color: color($colors, lighter);
$spinner-ios-circles-color: color($colors, lighter);
$spinner-ios-crescent-color: color($colors, lighter);
$spinner-ios-dots-color: color($colors, lighter);
$spinner-md-ios-color: color($colors, lighter);
$spinner-md-bubbles-color: color($colors, lighter);
$spinner-md-circles-color: color($colors, lighter);
$spinner-md-crescent-color: color($colors, lighter);
$spinner-md-dots-color: color($colors, lighter);
$spinner-wp-ios-color: color($colors, lighter);
$spinner-wp-bubbles-color: color($colors, lighter);
$spinner-wp-circles-color: color($colors, lighter);
$spinner-wp-crescent-color: color($colors, lighter);
$spinner-wp-dots-color: color($colors, lighter);

/*
@import 'node_modules/@ibm/plex/scss/ibm-plex.scss';
$font-family-md-base: 'IBM Plex Sans';
$font-family-ios-base: 'IBM Plex Sans';
$font-family-wp-base: 'IBM Plex Sans';
*/