<ion-content class="base-bg">
    <ion-refresher (ionRefresh)="doRefresh($event)"></ion-refresher>
    <ion-grid class="base-bg">
        <ion-row>
            <ion-col col-12>
                <p text-center class="text-color-lighter">Active Complaints List</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 padding></ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="pull-up" padding>
        <ion-row>
            <ion-col col-12>
                <ion-card no-margin>
                    <ion-card-content>
                        <ion-row>
                            <ion-col col-2>
                                <ion-icon name="base-wrapper" class="c-icon ci1"></ion-icon>
                            </ion-col>
                            <ion-col col-10>
                                <p>This is a complaint</p>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>