// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
button {
    ion-badge {
        position: absolute;
        top: -0.2rem;
        right: 0.5rem;
        border-radius: 50% !important;
        width: 2rem;
        height: 2rem;
        padding: 0.34rem 0.69rem;
        box-shadow: none;
        &~ion-icon {
            margin-right: 1.2rem;
        }
        &~ion-spinner {
            margin-right: 1.0rem;
        }
    }
}

.scroll-content {
    background: map-get($colors, lighter);
}

ion-content.has-refresher {
    >.scroll-content {
        border-top: 0 !important;
        background-color: map-get($colors, lighter);
    }
}

.base-bg {
    //background-color: color($colors, primary);
    background: #{'linear-gradient(top right, '}color($colors, primary)#{' 65%,'}color($colors, secondary)#{')'};
}

$color: map-keys($colors);
@each $c in $color {
    .text-color-#{$c} {
        color: map-get($colors, $c);
    }
}

.pull-up {
    transform: translateY(-45px);
}

.card.disabled {
    filter: #{'grayscale(100%)'};
}

$type: ('md', 'wp', 'ios');
@each $dev in $type {
    .card-#{$dev} {
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 0 20px rgba(100, 100, 100, 0.1);
        p {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
    .header-#{$dev}::after {
        background-image: none;
    }
    /*
    .toolbar-background-#{$dev} {
        background: #{'linear-gradient(top, '}color($colors, secondary)#{' 5%,'}color($colors, primary)#{')'};
    }
    */
    .ion-#{$dev}-base-wrapper::before {
        content: " ";
        width: 24px;
        height: 24px;
        background-image: none;
        background-size: contain;
    }
    .tabs-#{$dev} .tab-button {
        margin: 1rem 2rem;
        padding: 1rem 0;
        border: 1px solid map-get($colors, primary);
        border-radius: 5rem;
        min-height: 3.6rem;
        color: map-get($colors, primary);
        &[aria-selected="true"] {
            background: map-get($colors, primary);
            color: map-get($colors, lighter);
        }
    }
}

.c-icon::before {
    filter: hue-rotate(90deg) contrast(45%);
}