<ion-header>
    <top-bar title="Notifications" notify="false"></top-bar>
</ion-header>
<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)"></ion-refresher>
    <p>Notifications Page</p>
</ion-content>