<ion-navbar>
    <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
        <button [hidden]="!toShow()" ion-button icon-only (click)="openNotifications()">
            <ion-badge [hidden]="hasUnread()" color="danger">{{unreadNotifications}}</ion-badge>
            <ion-icon name="notifications-outline"></ion-icon>
        </button>
        <button [hidden]="!refreshing" ion-button icon-only>
            <ion-badge></ion-badge>
            <ion-spinner name="crescent"></ion-spinner>
        </button>
    </ion-buttons>
</ion-navbar>